<div class="login-left">
    <h2>Aide avec le mot de passe 🔐</h2>
    <p>Saisissez l'adresse e-mail associé à votre compte CineSuggest.</p>
    <form>
      
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="monmail@mail.com">

      <button type="submit" class="btn btn-signin" style="color: white!important;">Récupérer mon mot de passe</button>
    </form>

    <p style="padding-top: 10px;"><a class="custom-link" (click)="router.loginPage()">Se connecter ?</a></p>
  </div>