<mat-toolbar >
    <div style="margin:24px">
        <mat-toolbar-row class="row start gap-30" id="social-network">
            <a><img style="height: 24px;" src="assets\images\logo\Facebook_Logo_Secondary_24x24.png" name="facebook"></a>
            <a><img style="height: 24px;" src="assets\images\logo\In-White-128.png" name="linkedin"></a>
            <a><img style="height: 24px;" src="assets\images\logo\yt_logo_rgb_dark.png" name="youtube"></a>
            <a><img style="height: 24px;" src="assets\images\logo\captive_portal.png" name="portfolio"></a>
        </mat-toolbar-row>
    </div>
    
</mat-toolbar>
<mat-toolbar>

    <div style="margin:24px">
        <section id="link">
                
        </section>
        <label for="copyright">© 2024 Henri PHAM.</label>
    </div>

</mat-toolbar>
