<div class="login-container">
    <div class="login-left gap-10">
      <h2>On se connecte ?👋</h2>
      <form>
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="monmail@mail.com">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="******">
        <p><a class="custom-link" (click)="router.forgottenPasswordPage()">Mot de passe oublié ?</a></p>
        <button type="submit" class="btn btn-signin" style="color: white!important;">Se connecter</button>
      </form>
      
       
      <div class="column center self-center gap-10" style="padding-bottom: 30px;padding-top: 20px;" >
        <button mat-stroked-button ="btn btn-google" style="margin: 5px; border-radius: 0;">
            <img src="assets/F.png" style="width: 16px;">
            <span  style="padding-left: 25px;">Connexion avec Facebook</span>
        </button>
        <button mat-stroked-button ="btn btn-google" style="margin: 5px;border-radius: 0;">
            <img src="assets/G.png" style="width: 16px;">
            <span  style="padding-left: 25px;">Connexion avec Google</span>
        </button>
        
      </div>
      <p>Pas de compte? <a class="custom-link" (click)="router.signUpPage()">Créer un compte</a></p>
    </div>



    <div class="login-right">
      <div class="login-info">
        

      </div>
    </div>
  </div>
  
