/////////////////  Palette  //////////////////
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

@include mat.core();
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette
  ),
));

html {
  @include mat.all-component-themes($theme);    
}

$primary : #de040e;
$secondary :#01ADBD ;
$tertiary: #ffc078;
$neutral : #f5f5f5;
mat-toolbar{
  background-color: $primary!important;
  color:$neutral!important;
}


//////////////////////  Main  /////////////////
@import url("./styles/flex.scss");

html, body { 
  height: 100%;
  background-color: $neutral;
  // color : $neutral;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 

  /////////   miscellaneous class  ////////////////////

  a {
    cursor: pointer !important;
  }

  .custom-link {
    text-decoration: none; /* Supprime le soulignement */
    color: #007bff; /* Couleur du lien */
    font-weight: bold; /* Met en gras */
    transition: color 0.3s ease; /* Effet de transition au survol */
  }
  
  .custom-link:hover {
    color: #0056b3; /* Couleur au survol */
    text-decoration: underline; /* Ajoute le soulignement au survol */
  }

  .warning-message{
    color:red;
    font-size: small;
    padding: 2px;
  }


  